<li class="article__item">
  <div class="article__meta"><span class="article__meta-item article__date">
      {{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}
      <span></div>
  <a href="{{ .Permalink }}" class="clearfix">
    <h3 class="article__title">{{ .Title }}</h3>
  </a>
  <div class="article-content">{{ .Content }}</div>
</li>
