{{ partial "header.html" . }}

<body class="blog-article" data-gr-c-s-loaded="true">

  <div class="svg-holder">
    <svg xmlns="https://www.w3.org/2000/svg">
      <symbol viewBox="0 0 32 32" id="icon-chevron-down">
        <title>chevron-down</title>
        <path d="M1.352,9.793l3.089-3.07C4.678,6.49,4.957,6.371,5.28,6.371S5.883,6.49,6.12,6.723L16,16.605l9.88-9.883
          c0.237-0.232,0.517-0.352,0.84-0.352s0.603,0.119,0.84,0.352l3.089,3.07C30.882,10.03,31,10.31,31,10.641
          c0,0.327-0.118,0.609-0.352,0.847L16.84,25.276c-0.237,0.235-0.517,0.353-0.84,0.353s-0.603-0.117-0.84-0.353L1.352,11.487
          C1.118,11.25,1,10.968,1,10.641C1,10.31,1.118,10.03,1.352,9.793z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-chevron-right">
        <title>chevron-right</title>
        <polygon points="30.644,16.012 1.356,1 10.835,16.012 1.356,31 "></polygon>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-chevron-up">
        <title>chevron-up</title>
        <path d="M30.648,22.207l-3.089,3.07c-0.237,0.232-0.517,0.352-0.84,0.352s-0.603-0.119-0.84-0.352L16,15.395l-9.88,9.883
          c-0.237,0.232-0.517,0.352-0.84,0.352s-0.603-0.119-0.84-0.352l-3.089-3.07C1.118,21.97,1,21.69,1,21.359
          c0-0.327,0.118-0.609,0.352-0.847L15.16,6.724c0.237-0.235,0.517-0.353,0.84-0.353s0.603,0.117,0.84,0.353l13.809,13.789
          C30.882,20.75,31,21.032,31,21.359C31,21.69,30.882,21.97,30.648,22.207z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-comment">
        <title>comment</title>
        <path d="M6.625,1.938v3.75H27.25v15H31V1.938H6.625z M1,24.438h3.75v5.625l5.625-5.625h15V7.562H1V24.438z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-dropdown">
        <title>dropdown</title>
        <path d="M30.924,9.199c-0.164-0.422-0.574-0.643-1.027-0.643H2.105c-0.457,0-0.863,0.221-1.029,0.643
          c-0.166,0.424-0.055,0.876,0.279,1.184L15.252,23.16c0.211,0.193,0.479,0.283,0.748,0.283s0.537-0.1,0.75-0.295l13.895-12.762
          C30.979,10.077,31.09,9.623,30.924,9.199z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-facebook">
        <title>facebook</title>
        <path d="M26,1H6C3.239,1,1,3.239,1,6v19.999C1,28.761,3.237,31,6,31h10V17.875h-3.75v-3.75H16v-2.812
          c0-2.588,2.099-4.688,4.688-4.688h4.688v3.75h-4.688c-0.518,0-0.938,0.42-0.938,0.938v2.812h5.156l-0.938,3.75H19.75V31H26
          c2.761,0,5-2.239,5-5.001V6C31,3.239,28.763,1,26,1z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-folder">
        <title>folder</title>
        <path d="M30.202,8.34H13.658l-3.236-2.942c-0.178-0.161-0.407-0.249-0.646-0.249H2.117C1.589,5.149,1,5.418,1,5.947v19.788
          c0,0.527,0.589,1.117,1.117,1.117h28.085c0.528,0,0.798-0.59,0.798-1.117V9.138C31,8.61,30.73,8.34,30.202,8.34z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-google-plus">
        <title>google-plus</title>
        <g>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M10.546,14.636v3.274h5.414c-0.219,1.402-1.638,4.117-5.414,4.117
            c-3.261,0-5.918-2.699-5.918-6.027c0-3.327,2.657-6.027,5.918-6.027c1.854,0,3.095,0.791,3.804,1.473L16.94,8.95
            c-1.663-1.556-3.816-2.496-6.395-2.496C5.268,6.455,1,10.723,1,16s4.268,9.545,9.546,9.545c5.509,0,9.164-3.871,9.164-9.327
            c0-0.627-0.069-1.105-0.151-1.582H10.546z"></path>
          <polygon fill-rule="evenodd" clip-rule="evenodd" points="28.272,14.636 28.272,11.909 25.546,11.909 25.546,14.636 22.818,14.636
            22.818,17.363 25.546,17.363 25.546,20.092 28.272,20.092 28.272,17.363 31,17.363 31,14.636       "></polygon>
        </g>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-label">
        <title>label</title>
        <path d="M27.578,7.283c-0.789,0.79-2.068,0.79-2.857,0c-0.791-0.79-0.791-2.069-0.002-2.858s2.068-0.789,2.857,0
          C28.367,5.214,28.369,6.493,27.578,7.283z M30.662,3.318c-0.047-1.084-0.973-2.003-2.057-2.042l-7.629-0.274
          c-1.086-0.04-2.6,0.556-3.367,1.323L1.586,18.354c-0.768,0.767-0.768,2.023,0,2.79l9.279,9.279c0.768,0.768,2.021,0.768,2.789,0
          l16.023-16.027c0.766-0.767,1.357-2.281,1.311-3.365L30.662,3.318z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-linkedin">
        <title>linkedin</title>
        <path d="M28.188,1H3.812C2.266,1,1,2.266,1,3.812v24.375C1,29.734,2.266,31,3.812,31h24.375C29.734,31,31,29.734,31,28.188V3.812
          C31,2.266,29.734,1,28.188,1z M12.25,25.375H8.5V12.25h3.75V25.375z M10.375,10.375C9.339,10.375,8.5,9.537,8.5,8.5
          s0.839-1.875,1.875-1.875S12.25,7.463,12.25,8.5S11.411,10.375,10.375,10.375z M25.375,25.375h-3.75v-7.5
          c0-1.036-0.839-1.875-1.875-1.875s-1.875,0.839-1.875,1.875v7.5h-3.75V12.25h3.75v2.326c0.773-1.06,1.956-2.326,3.281-2.326
          c2.333,0,4.219,2.098,4.219,4.688V25.375z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-loupe">
        <title>loupe</title>
        <path d="M30.296,27.986l-3.463-3.462l0.003-0.003l-4.038-4.038c1.618-2.111,2.503-4.675,2.514-7.37
          c0.014-3.248-1.239-6.298-3.528-8.586C19.508,2.253,16.477,1,13.248,1C9.983,1,6.91,2.276,4.594,4.593
          c-2.304,2.304-3.58,5.359-3.593,8.604c-0.014,3.248,1.239,6.297,3.528,8.586c2.274,2.275,5.306,3.528,8.535,3.528
          c2.714,0,5.293-0.885,7.417-2.513l4.038,4.038l0.005-0.005l3.462,3.463c0.805,0.805,1.975,0.941,2.611,0.303
          C31.236,29.961,31.1,28.791,30.296,27.986z M5.954,20.358c-1.906-1.906-2.949-4.446-2.938-7.153c0.011-2.71,1.077-5.262,3.004-7.188
          c1.936-1.937,4.503-3.003,7.229-3.003c2.69,0,5.216,1.043,7.111,2.938c1.905,1.905,2.948,4.446,2.938,7.153
          c-0.011,2.711-1.077,5.263-3.004,7.188c-1.935,1.938-4.502,3.004-7.229,3.004C10.373,23.297,7.849,22.253,5.954,20.358z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-next">
        <title>next</title>
        <polygon points="3.168,1 3.402,1.234 18.227,16 3.227,31 13.773,31 26.137,18.636 28.834,16 26.137,13.364 13.83,1 3.166,1 "></polygon>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-perk-01">
        <title>perk-01</title>
        <path d="M12.725,13.023c-1.627,0-2.977,1.32-2.977,2.977c0,1.627,1.32,2.977,2.977,2.977c1.658,0,2.977-1.322,2.977-2.977
          C15.671,14.372,14.351,13.023,12.725,13.023z M12.725,11.58c2.455,0,4.42,1.994,4.42,4.42c0,2.456-1.995,4.42-4.42,4.42
          s-4.45-1.965-4.45-4.42C8.274,13.543,10.27,11.58,12.725,11.58z M10.944,16c0,0.981,0.797,1.78,1.78,1.78
          c0.981,0,1.749-0.798,1.749-1.78s-0.798-1.781-1.781-1.781C11.711,14.218,10.944,15.018,10.944,16z M28.531,9.768
          c-0.153-0.214-0.431-0.214-0.584,0l-2.395,3.499c-0.153,0.246,0,0.554,0.276,0.554h0.921v8.931c0,0.275,0.215,0.459,0.461,0.459
          h2.087c0.277,0,0.461-0.213,0.461-0.459v-8.931h0.891c0.276,0,0.46-0.308,0.276-0.554L28.531,9.768z M21.226,18.24h-2.088
          c-0.276,0-0.46,0.215-0.46,0.461v4.082c0,0.277,0.214,0.461,0.46,0.461h2.088c0.276,0,0.461-0.215,0.461-0.461v-4.082
          C21.687,18.455,21.472,18.24,21.226,18.24z M25.246,16.06h-2.088c-0.276,0-0.46,0.214-0.46,0.46v6.261
          c0,0.277,0.214,0.461,0.46,0.461h2.088c0.276,0,0.46-0.215,0.46-0.461V16.52C25.736,16.276,25.522,16.06,25.246,16.06z
          M23.16,14.986h1.258v-4.204c0-1.104-0.921-2.025-2.025-2.025H3.025C1.92,8.756,1,9.677,1,10.782v10.435
          c0,1.105,0.92,2.025,2.025,2.025h14.608c-0.061-0.154-0.061-0.307-0.061-0.461v-1.258H5.112c0.03-0.123,0.03-0.246,0.03-0.367
          c0-1.135-0.92-2.057-2.056-2.057c-0.123,0-0.246,0-0.367,0.031V12.87c0.123,0.03,0.246,0.03,0.367,0.03
          c1.136,0,2.056-0.921,2.056-2.057c0-0.122,0-0.245-0.03-0.367h15.069c-0.03,0.153-0.061,0.338-0.061,0.491
          c0,1.135,0.921,2.056,2.056,2.056c0.184,0,0.337-0.031,0.521-0.061v2.088C22.854,15.018,23.007,14.986,23.16,14.986z M6.247,14.771
          c0.675,0,1.229,0.554,1.229,1.229c0,0.674-0.554,1.227-1.229,1.227c-0.674,0-1.228-0.553-1.228-1.227
          C5.02,15.325,5.573,14.771,6.247,14.771z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-perk-02">
        <title>perk-02</title>
        <g>
          <path d="M28.748,23.826 M27.998,5.83H4.006c-0.412,0-0.75,0.338-0.75,0.75v17.247c0,0,25.426,0,25.491,0V6.58
            C28.747,6.167,28.409,5.83,27.998,5.83z M27.276,7.131v15.394H4.729V7.131H27.276"></path>
          <path d="M30.995,25.232v-0.469H18.519c-0.048,0.264-0.282,0.469-0.576,0.469h-3.891c-0.294,0-0.528-0.205-0.577-0.469H1v0.469
            h0.005l1.5,0.938H29.5l1.5-0.938H30.995z"></path>
        </g>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-perk-03">
        <title>perk-03</title>
        <path d="M3.217,20.503c-0.336,0-0.605-0.269-0.605-0.605V6.491c0-0.336,0.27-0.605,0.605-0.605h25.638
          c0.336,0,0.605,0.27,0.605,0.605v13.373c0,0.336-0.27,0.605-0.605,0.605H3.217V20.503z M29.122,4.274H2.881
          C1.84,4.274,1,5.114,1,6.155v15.558c0,1.041,0.84,1.881,1.881,1.881h10.752v1.848l-2.621,1.21c-0.537,0.234-0.369,1.074,0.234,1.074
          h9.609c0.605,0,0.773-0.807,0.234-1.074l-2.621-1.21v-1.848h10.65c1.041,0,1.881-0.84,1.881-1.881V6.155
          C31.005,5.114,30.165,4.274,29.122,4.274z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-perk-04">
        <title>perk-04</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M27,2.8C27,1.806,26.328,1,25.5,1h-19C5.672,1,5,1.806,5,2.8v26.4
          C5,30.194,5.672,31,6.5,31h19c0.828,0,1.5-0.806,1.5-1.8V2.8z M16,30.359c-0.483,0-0.875-0.392-0.875-0.875s0.392-0.875,0.875-0.875
          s0.875,0.392,0.875,0.875S16.483,30.359,16,30.359z M25,28H7V4h18V28z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-perk-05">
        <title>perk-05</title>
        <g>
          <path d="M10.24,15.323l2.318-7.521l4.955,11.268l1.096-3.81h11.934c0.625-2.192,0.453-3.82,0.377-4.386
            c-0.303-2.285-1.537-6.543-6.539-7.528c-0.748-0.147-1.447-0.217-2.098-0.227c-0.049,0-0.096-0.002-0.145-0.002
            c-0.002,0-0.002,0-0.004,0c-3.473-0.004-5.527,2.149-6.146,2.752c-0.619-0.604-2.674-2.756-6.148-2.752c-0.002,0-0.002,0-0.004,0
            c-0.047,0-0.096,0-0.143,0.002c-0.65,0.009-1.35,0.079-2.098,0.227c-5.002,0.985-6.35,5.484-6.539,7.528
            c-0.049,0.514-0.221,2.184,0.451,4.448H10.24z"></path>
          <path d="M19.943,17.032l-2.082,7.232L12.85,12.867l-1.305,4.228H2.168c1.6,3.537,5.32,7.974,13.82,11.787
            c8.602-3.861,12.33-8.312,13.906-11.852h-9.951V17.032z"></path>
        </g>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-perk-06">
        <title>perk-06</title>
        <path d="M16.464,27.867c7.343,0,9.74-7.942,9.74-7.942S31,18.127,31,13.63c0-2.997-1.649-6.144-5.695-6.144
          c-5.694,0-7.643,3.896-6.443,6.594c-6.595-0.899-7.644,4.047-7.943,5.395c-0.6-1.348-1.199-2.997-3.297-4.795
          c-1.798-1.649-2.248-3.897-2.548-4.496c-0.3-0.75,0.45-1.199,1.199-0.45c0.449,0.299,2.098,0.299,4.196-1.648
          c0.3-0.15,0.3-0.6,0.149-0.899C10.169,6.587,9.42,5.688,8.67,5.088C7.771,4.339,7.172,3.74,5.823,3.889
          c-1.199,0.15-2.248,1.199-3.147,1.948c-1.349,1.199-1.799,2.997-1.648,5.695c0.149,1.948,0.3,5.694,2.248,10.49
          c1.198,3.298,4.845,5.745,5.545,5.845C11.258,28.467,16.464,27.867,16.464,27.867z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-perk-07">
        <title>perk-07</title>
        <g>
          <path d="M22.315,20.725c1.791-1.791,4.707-1.793,6.499,0l0.025,0.029c0.136,0.145,0.376,0.148,0.523,0.006
            c0.146-0.145,0.149-0.375,0.005-0.521c-0.007-0.012-0.019-0.025-0.031-0.037c-2.081-2.078-5.464-2.078-7.543,0
            c-0.144,0.145-0.144,0.379,0,0.523S22.171,20.869,22.315,20.725z"></path>
          <path d="M27.689,21.904c0.133,0.146,0.377,0.15,0.522,0.006c0.146-0.143,0.147-0.377,0.006-0.523
            c-0.009-0.012-0.02-0.021-0.032-0.033c-1.445-1.447-3.799-1.447-5.244,0c-0.144,0.145-0.144,0.377,0,0.521
            c0.146,0.145,0.377,0.145,0.521,0c1.158-1.158,3.042-1.156,4.2,0.002L27.689,21.904z"></path>
          <path d="M26.596,22.992c0.138,0.139,0.376,0.152,0.523,0.012s0.152-0.375,0.012-0.523c0.002,0-0.014-0.021-0.031-0.039
            c-0.846-0.846-2.22-0.844-3.065,0c-0.146,0.146-0.144,0.379,0,0.523c0.146,0.145,0.378,0.145,0.523,0
            c0.553-0.553,1.449-0.557,2.007-0.012C26.573,22.967,26.584,22.98,26.596,22.992z"></path>
          <path d="M26.095,23.799c0,0.688-1.034,0.688-1.034,0C25.061,23.109,26.095,23.109,26.095,23.799"></path>
          <path d="M30.344,28.088c0,0.256-0.207,0.463-0.461,0.463h-0.669v-2.191h0.669c0.254,0,0.461,0.207,0.461,0.463V28.088z
            M29.883,25.703h-0.669v-0.014c0-0.053-0.003-0.105-0.007-0.158c-0.014-0.135-0.126-0.236-0.264-0.236h-6.636
            c-0.135,0-0.249,0.104-0.263,0.236c-0.006,0.053-0.007,0.105-0.007,0.158v3.061c0,0.799,0.593,1.459,1.361,1.566
            c0.028,0.012,0.058,0.016,0.09,0.016c0.115,0,0.21,0.096,0.21,0.211c0,0.146,0.119,0.266,0.264,0.266h3.323
            c0.146,0,0.263-0.119,0.263-0.266c0-0.115,0.095-0.211,0.211-0.211c0.031,0,0.061-0.004,0.089-0.016
            c0.614-0.086,1.116-0.525,1.294-1.105h0.736c0.618,0,1.121-0.504,1.121-1.121v-1.266C31.004,26.203,30.5,25.703,29.883,25.703z"></path>
          <path d="M12.34,29.51c-0.026,0.24-0.229,0.318-0.476,0.318H9.627c-0.247,0-0.448-0.078-0.475-0.318H1
            c0,0.715,0.26,1.293,0.974,1.293H19.53c0.714,0,0.958-0.578,0.958-1.293H12.34z"></path>
          <path d="M3.876,18.982h13.738v8.627H3.876V18.982z M18.183,28.887c0.392,0,0.709-0.318,0.709-0.711v-9.762
            c0-0.393-0.317-0.711-0.709-0.711H3.308c-0.392,0-0.711,0.318-0.711,0.711v9.762c0,0.393,0.317,0.711,0.711,0.711H18.183z"></path>
          <path d="M1.167,10.477c0,0.02,0,0.037,0,0.055c0.002,0.067,0.035,0.126,0.084,0.165c0.064,0.075,0.161,0.123,0.269,0.123
            c0.537,0,0.789,0.11,1.081,0.24c0.319,0.141,0.681,0.3,1.366,0.3c0.687,0,1.048-0.159,1.367-0.3c0.291-0.128,0.544-0.24,1.081-0.24
            c0.536,0,0.789,0.11,1.08,0.24c0.319,0.141,0.682,0.3,1.367,0.3c0.687,0,1.048-0.159,1.367-0.3c0.291-0.128,0.544-0.24,1.081-0.24
            c0.536,0,0.789,0.11,1.08,0.24c0.319,0.141,0.681,0.3,1.367,0.3c0.686,0,1.048-0.159,1.367-0.3c0.291-0.128,0.544-0.24,1.08-0.24
            c0.537,0,0.79,0.11,1.081,0.24c0.319,0.141,0.681,0.3,1.367,0.3c0.686,0,1.047-0.159,1.366-0.3c0.292-0.128,0.544-0.24,1.081-0.24
            s0.79,0.11,1.081,0.24c0.317,0.141,0.681,0.3,1.367,0.3c0.686,0,1.047-0.159,1.366-0.3c0.283-0.124,0.528-0.233,1.035-0.24
            c0.506,0.007,0.753,0.114,1.035,0.24c0.283,0.124,0.601,0.265,1.147,0.295v0.007c0.037,0,0.074-0.002,0.109-0.002
            c0.035,0.002,0.071,0.002,0.108,0.002v-0.007c0.548-0.03,0.865-0.171,1.147-0.295c0.293-0.128,0.544-0.24,1.083-0.24
            c0.194,0,0.353-0.158,0.353-0.354c0-0.195-0.158-0.354-0.353-0.354c-0.687,0-1.05,0.159-1.367,0.3
            c-0.271,0.119-0.509,0.225-0.972,0.239c-0.464-0.015-0.7-0.12-0.973-0.239c-0.298-0.131-0.633-0.278-1.238-0.298
            c-0.013-0.002-0.024-0.002-0.037-0.002c-0.016,0-0.029,0-0.045,0c-0.015,0-0.03,0-0.046,0c-0.013,0-0.024,0-0.037,0.002
            c-0.604,0.02-0.94,0.167-1.238,0.298c-0.292,0.13-0.544,0.24-1.081,0.24s-0.79-0.11-1.083-0.24
            c-0.181-0.079-0.373-0.164-0.633-0.225c-0.099-0.034-0.2-0.068-0.308-0.105c-0.216-0.071-0.454-0.152-0.735-0.25
            c0.198-0.348,0.372-0.724,0.521-1.12c0.227-0.604,0.398-1.265,0.509-1.963c0.07-0.437,0.107-0.832,0.126-1.16
            c1.622,1.993,3.778,2.423,3.778,2.423c-0.174-1.079-0.671-1.884-1.551-2.736c-0.178-0.172-0.354-0.323-0.527-0.456
            c1.669,0.618,3.394,0.535,3.394,0.535c-0.258-0.672-0.84-1.107-1.837-1.502c-0.509-0.202-1.002-0.321-1.451-0.386
            c1.229-0.786,1.819-1.767,1.819-1.767c-0.912-0.177-1.703-0.007-2.647,0.463c-0.47,0.235-0.839,0.5-1.128,0.764
            c-1.239-1.613-2.737-1.734-2.737-1.734c0.277,0.916,0.511,1.463,1.178,2.125c0.01,0.01,0.019,0.019,0.029,0.029
            c-2.442-0.321-4.262,0.816-4.262,0.816c0.815,0.635,1.687,0.864,2.86,0.874c0.258,0.002,0.5-0.013,0.726-0.039
            c-1.556,0.788-2.478,2.066-2.478,2.066c0.786,0.241,1.536,0.102,2.483-0.353c0.693-0.333,1.202-0.748,1.568-1.133
            c-0.062,0.978-0.293,2.59-1.116,3.978c-0.554-0.216-1.24-0.502-2.124-0.903c-4.603-2.09-5.912-5.385-6.542-6.969
            c-0.045-0.118-0.089-0.227-0.13-0.325c-0.033-0.082-0.113-0.134-0.203-0.134H7.195c-0.095,0-0.179,0.061-0.209,0.151
            C6.858,1.768,6.676,2.392,6.442,3.229C5.979,4.894,4.894,6.247,4.063,7.087C3.158,8.005,2.35,8.532,2.344,8.537
            c-0.854,0.545-1.165,1.35-1.175,1.913c0,0.007-0.002,0.012-0.002,0.021C1.167,10.471,1.167,10.474,1.167,10.477z"></path>
          <path d="M1.521,12.502c0.536,0,0.789,0.11,1.08,0.24c0.319,0.141,0.682,0.3,1.367,0.3c0.687,0,1.048-0.159,1.367-0.3
            c0.291-0.13,0.544-0.24,1.08-0.24c0.537,0,0.79,0.11,1.081,0.24c0.319,0.141,0.681,0.3,1.367,0.3c0.686,0,1.048-0.159,1.367-0.3
            c0.291-0.13,0.544-0.24,1.08-0.24c0.537,0,0.79,0.11,1.081,0.24c0.319,0.141,0.681,0.3,1.367,0.3c0.686,0,1.047-0.159,1.366-0.3
            c0.292-0.13,0.544-0.24,1.081-0.24s0.79,0.11,1.081,0.24c0.319,0.141,0.681,0.3,1.367,0.3c0.686,0,1.047-0.159,1.366-0.3
            c0.291-0.13,0.544-0.24,1.081-0.24s0.79,0.11,1.081,0.24c0.317,0.141,0.681,0.3,1.366,0.3c0.687,0,1.048-0.159,1.367-0.3
            c0.269-0.119,0.504-0.223,0.958-0.238c0.011,0.002,0.021,0.002,0.031,0.002c0.537,0,0.79,0.11,1.081,0.24
            c0.282,0.124,0.601,0.265,1.147,0.294v0.006c0.037,0,0.074,0,0.109-0.002c0.035,0.002,0.071,0.002,0.108,0.002v-0.006
            c0.548-0.029,0.865-0.17,1.147-0.294c0.293-0.128,0.544-0.24,1.083-0.24c0.194,0,0.353-0.158,0.353-0.354
            c0-0.195-0.158-0.353-0.353-0.353c-0.687,0-1.05,0.159-1.367,0.299c-0.272,0.12-0.509,0.225-0.972,0.239
            c-0.464-0.015-0.7-0.119-0.973-0.239c-0.292-0.13-0.621-0.273-1.205-0.296c-0.021-0.005-0.046-0.007-0.068-0.007
            c-0.687,0-1.048,0.159-1.367,0.3c-0.292,0.13-0.544,0.24-1.081,0.24c-0.536,0-0.789-0.11-1.082-0.24
            c-0.319-0.141-0.681-0.3-1.367-0.3c-0.686,0-1.047,0.159-1.366,0.3c-0.292,0.13-0.544,0.24-1.081,0.24s-0.79-0.11-1.081-0.24
            c-0.319-0.141-0.681-0.3-1.367-0.3c-0.686,0-1.047,0.159-1.366,0.3c-0.292,0.13-0.544,0.24-1.081,0.24s-0.79-0.11-1.081-0.24
            c-0.319-0.141-0.681-0.3-1.366-0.3c-0.687,0-1.048,0.159-1.367,0.3c-0.291,0.13-0.544,0.24-1.081,0.24s-0.789-0.11-1.081-0.24
            c-0.319-0.141-0.681-0.3-1.366-0.3c-0.687,0-1.048,0.159-1.367,0.3c-0.291,0.13-0.544,0.24-1.081,0.24s-0.789-0.11-1.08-0.24
            c-0.319-0.141-0.682-0.3-1.367-0.3c-0.195,0-0.354,0.157-0.354,0.354C1.167,12.344,1.326,12.502,1.521,12.502z"></path>
          <path d="M23.536,14.723c0.687,0,1.048-0.159,1.367-0.3c0.277-0.122,0.518-0.229,1.002-0.238c0.001,0,0.003,0,0.005,0
            c0.537,0,0.79,0.112,1.081,0.24c0.282,0.125,0.6,0.265,1.147,0.295v0.007c0.037,0,0.073,0,0.108-0.002
            c0.035,0.002,0.072,0.002,0.109,0.002V14.72c0.547-0.03,0.864-0.17,1.147-0.295c0.293-0.128,0.544-0.24,1.082-0.24
            c0.195,0,0.353-0.158,0.353-0.354c0-0.195-0.157-0.354-0.353-0.354c-0.686,0-1.049,0.159-1.366,0.3
            c-0.272,0.119-0.509,0.225-0.973,0.239c-0.463-0.015-0.7-0.12-0.972-0.239c-0.3-0.131-0.639-0.28-1.249-0.298
            c-0.015-0.002-0.028-0.004-0.043-0.004c-0.686,0-1.049,0.16-1.366,0.301c-0.291,0.128-0.544,0.24-1.081,0.24
            s-0.789-0.112-1.083-0.24c-0.317-0.141-0.681-0.301-1.366-0.301c-0.687,0-1.048,0.16-1.367,0.301
            c-0.291,0.128-0.544,0.24-1.081,0.24c-0.536,0-0.789-0.112-1.08-0.24c-0.319-0.141-0.681-0.301-1.367-0.301
            s-1.048,0.16-1.367,0.301c-0.291,0.128-0.544,0.24-1.08,0.24c-0.537,0-0.79-0.112-1.081-0.24c-0.319-0.141-0.681-0.301-1.367-0.301
            c-0.686,0-1.047,0.16-1.366,0.301c-0.292,0.128-0.544,0.24-1.081,0.24s-0.79-0.112-1.081-0.24
            c-0.319-0.141-0.681-0.301-1.367-0.301c-0.686,0-1.047,0.16-1.366,0.301c-0.292,0.128-0.544,0.24-1.081,0.24
            c-0.539,0-0.79-0.112-1.081-0.24c-0.319-0.141-0.681-0.301-1.366-0.301c-0.195,0-0.354,0.158-0.354,0.354
            c0,0.195,0.157,0.353,0.354,0.353c0.536,0,0.789,0.11,1.08,0.24c0.319,0.141,0.681,0.301,1.367,0.301
            c0.686,0,1.048-0.16,1.367-0.301c0.291-0.128,0.544-0.24,1.08-0.24c0.537,0,0.79,0.11,1.081,0.24
            c0.319,0.141,0.681,0.301,1.367,0.301c0.686,0,1.047-0.16,1.366-0.301c0.292-0.128,0.544-0.24,1.083-0.24
            c0.537,0,0.789,0.11,1.081,0.24c0.319,0.141,0.681,0.301,1.366,0.301c0.687,0,1.048-0.16,1.367-0.301
            c0.291-0.128,0.544-0.24,1.081-0.24s0.789,0.11,1.081,0.24c0.319,0.141,0.681,0.301,1.366,0.301c0.687,0,1.048-0.16,1.367-0.301
            c0.291-0.128,0.544-0.24,1.081-0.24c0.536,0,0.789,0.11,1.08,0.24C22.488,14.564,22.851,14.723,23.536,14.723z"></path>
        </g>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-perk-08">
        <title>perk-08</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.386,30.538L7.993,25.95c-1.231,0.708-2.263,1.089-2.604,0.739H5.381
          c-0.39-0.378,0.105-1.576,0.941-2.954l-4.936-1.498c-0.319-0.181-0.497-0.468-0.312-0.646l0.737-0.645
          c0.303-0.158,0.655-0.314,1-0.306l5.667,0.025c0.586-0.745,1.164-1.404,1.637-1.876l5.153-5.15l-0.956-0.957L4.124,10.681
          c-1.226-0.25-2.471-0.29-1.789-1.295l0.622-0.832c0.378-0.506,1.092-0.808,1.724-0.808h16.488l4.434-4.43
          c1.912-1.92,4.18-2.773,5.047-1.898h0.011c0.867,0.868,0.017,3.135-1.903,5.055l-4.433,4.433v16.852
          c0,0.631-0.304,1.348-0.812,1.726l-0.831,0.622c-1.004,0.679-1.045-0.566-1.293-1.792l-2.104-10.65l-0.858-0.859l-5.15,5.15
          c-0.559,0.564-1.396,1.276-2.315,1.981l0.022,5.178c0.009,0.348-0.147,0.698-0.309,1.001L10.03,30.85
          C9.853,31.039,9.569,30.861,9.386,30.538z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-pin">
        <title>pin</title>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M16,16c3.106,0,5.625-2.519,5.625-5.625S19.106,4.75,16,4.75
          s-5.625,2.519-5.625,5.625S12.894,16,16,16z M16,31c0,0,11.25-10.242,11.25-19.688C27.25,5.617,22.213,1,16,1
          S4.75,5.617,4.75,11.312C4.75,20.758,16,31,16,31z"></path>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-previous">
        <title>previous</title>
        <polygon points="28.831,31 28.598,30.766 13.773,16 28.773,1 18.227,1 5.863,13.364 3.166,16 5.863,18.635 18.17,31 28.834,31 "></polygon>
      </symbol>
      <symbol viewBox="0 0 32 32" id="icon-twitter">
        <title>twitter</title>
        <path d="M31,6.696c-1.103,0.489-2.291,0.82-3.536,0.969c1.271-0.762,2.247-1.968,2.708-3.404c-1.189,0.705-2.508,1.218-3.909,1.493
          c-1.122-1.196-2.723-1.943-4.493-1.943c-3.398,0-6.154,2.755-6.154,6.154c0,0.483,0.055,0.953,0.159,1.402
          C10.66,11.111,6.125,8.66,3.089,4.937C2.561,5.846,2.256,6.902,2.256,8.031c0,2.135,1.086,4.019,2.737,5.123
          c-1.009-0.031-1.957-0.309-2.786-0.77c-0.002,0.025-0.002,0.052-0.002,0.078c0,2.982,2.122,5.469,4.937,6.034
          c-0.517,0.142-1.061,0.217-1.622,0.217c-0.396,0-0.782-0.039-1.158-0.112c0.784,2.444,3.057,4.225,5.75,4.274
          c-2.105,1.651-4.761,2.635-7.645,2.635c-0.496,0-0.985-0.029-1.467-0.086c2.723,1.746,5.958,2.765,9.434,2.765
          c11.321,0,17.512-9.379,17.512-17.512c0-0.268-0.005-0.533-0.018-0.796C29.131,9.014,30.174,7.93,31,6.696L31,6.696z"></path>
      </symbol>
    </svg>
  </div>
  {{ partial "page_header.html" .}}
  <!-- / page-header-->
  <section class="page-intro page-intro--blog-article">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <header class="page-intro__header">
            <div class="article__meta">
              <span class="article__meta-item article__date">
                {{ with .Site.Params.DateForm }}
                  {{ $.Date.Format . }}
                {{ else }}
                  {{ $.Date.Format "Mon, Jan 2, 2006" }}
                {{ end }}
              </span>
              <div class="share">
                <ul class="share__list">
                  {{if .Site.Params.twitter}}
                  <li class="share__item"><a href="https://twitter.com/share?text={{ .Title | safeHTML}}&amp;url={{ .Permalink }}&amp;via={{.Site.Params.twitter}}" class="share__link">
                      <svg class="icon share__icon share__icon--twitter">
                        <use xlink:href="#icon-twitter" xmlns:xlink="https://www.w3.org/1999/xlink"></use>
                      </svg></a></li>
                  {{end}}
                </ul>
              </div>
            </div>
            <h1 class="page-intro__title page-intro__title--blog">{{ .Title }}</h1>
          </header>
        </div>
      </div>
    </div>
  </section>
  <!-- / page-intro-->
  <div class="page-content page-content--blog-article">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <div class="article-content">{{ .Content }}</div>
          {{ partial "runnable-modal.html" . }}
        </div>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-12">
          <div id='discourse-comments'></div>
        </div>
      </div>
    </div>
  </div>
  {{ partial "footer.html" . }}
  <!-- / page-footer__wrapper-->

  <!-- js-->

  <!-- Minified script-->
  <script type="text/javascript" src="/js/custom.js"></script>
  <script type="text/javascript" src="/js/script.min.js"></script>
  <!-- GitHub star button-->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  {{if .Site.Params.discourse}}
  <script type="text/javascript">
DiscourseEmbed = {
  discourseUrl: "{{.Site.Params.discourse}}",
  discourseEmbedUrl: "{{ .Permalink }}"
};
(function() {
  var d = document.createElement("script");
  d.type = "text/javascript";
  d.async = true;
  d.src = DiscourseEmbed.discourseUrl + "javascripts/embed.js";
  (document.getElementsByTagName("head")[0] ||
    document.getElementsByTagName("body")[0])
    .appendChild(d);
})();
</script>
  <noscript>Please enable JavaScript to view the comments on <a href="{{.Site.Params.discourse}}">discuss</a>.</noscript>
  {{end}}
</html>
