{{ partial "header.html" . }}
<body class="blog" data-gr-c-s-loaded="true">
  {{ partial "page_header.html" .}}
  <div class="page-content page-content--blog">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="articles">
            <article class="post">
              <div class="content">
                <h2 class="term-list-title">
                  <a href="{{ .Permalink }}" class="linktopost">{{ .Title }}</a>
                </h2>

                <div class="terms">
                  {{ $data := .Data }}
                  {{ range $key, $value := .Data.Terms }}

                  <div class="term">
                    <a href="{{ $key | urlize }}">
                      <div class="term-title">{{ $key }} ({{ len $value }}) </div>
                    </a>

                  </div> <!-- term -->

                  {{ end }}
                </div> <!-- terms -->
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "footer.html" . }}
  <!-- / page-footer__wrapper-->

  <!-- js-->

  <!-- Minified script-->
  <script type="text/javascript" src="/js/custom.js"></script>
  <script type="text/javascript" src="/js/script.min.js"></script>
  <!-- GitHub star button-->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Highlight JS plugin for article page-->
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
  <!-- Disqus comment count-->
  <!-- Info: https://help.disqus.com/customer/portal/articles/565624-->
  <script id="dsq-count-scr" src="//skgamingtest.disqus.com/count.js" async></script>
</html>
