<div class="page-footer__wrapper">
  <footer id="page-footer" class="page-footer">
    <div class="container">
      <div class="row">
        <span class="imprint__copyrights">{{ with .Site.Copyright | safeHTML }}{{ . }}{{ else }}&copy; {{ $.Site.LastChange.Year }} {{ if isset $.Site.Params "Author" }}{{ $.Site.Params.Author }}{{ else }}{{ .Site.Title }}{{ end }}{{ end }}</span>
      </div>
    </div>
  </footer>
  <!-- / page-footer-->
</div>

    <script src="{{ .Site.BaseURL }}/js/clipboard.min.js"></script>
    <script src="{{ .Site.BaseURL }}/js/runnable.js?{{ now }}"></script>
    <script>
    hljs.initHighlightingOnLoad();
</script>
{{ with .Site.Params.googleAnalytics }}
<script>
if (window.location.host.indexOf("dgraph.io") > -1) {
  (function(i, s, o, g, r, a, m) {
    i["GoogleAnalyticsObject"] = r;
    (i[r] =
      i[r] ||
      function() {
        (i[r].q = i[r].q || []).push(arguments);
      }), (i[r].l = 1 * new Date());
    (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m);
  })(
    window,
    document,
    "script",
    "//www.google-analytics.com/analytics.js",
    "ga"
  );
  ga("create", "{{ . }}", "auto");
  ga("send", "pageview");
}
</script>
{{ end }}

<script>
$(document.links)
  .filter(function() {
    return this.hostname != window.location.hostname;
  })
  .attr("target", "_blank");
</script>
</body>
</html>
