<header id="page-header" class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <figure class="page-logo"><a href="/"><img src="/images/logo.png" alt=""></a></figure>
        {{if .Site.Params.github}}
        <a href="https://github.com/{{.Site.Params.github}}" data-style="mega" data-count-href="/{{.Site.Params.github}}/stargazers" data-count-api="/repos/{{.Site.Params.github}}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star us on GitHub" class="github-button">Star</a>
        {{end}}

        <nav class="page-nav pull-right" style="margin-top: 35px;">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
          <a class="nav-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
          {{ end }}
        </nav>
      </div>
      <a href="javascript:void(0)" title="Site Navigation" id="page-nav-button" class="button page-nav-button">Menu</a>
    </div>
  </div>
</header>
